<h1>{{ currentHero.id ? 'Editar' : 'Agregar' }} Héroe</h1>
<mat-divider class="mb-2"></mat-divider>

<div class="grid">
    <div class="col-12 md:col-6">
        <mat-card>
            <mat-card-content>
                <form class="grid" [formGroup]="heroeForm">
                    <mat-form-field class="col-12">
                        <mat-label>Super héroe</mat-label>
                        <input
                            matInput
                            type="text"
                            required
                            formControlName="superhero"
                        />
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Alter ego</mat-label>
                        <input
                            matInput
                            type="text"
                            required
                            formControlName="alter_ego"
                        />
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Editorial</mat-label>
                        <mat-select
                            required
                            formControlName="publisher"
                        >
                            <mat-option
                                *ngFor="let publisher of publishers"
                                [value]="publisher.id"
                            >
                                {{ publisher.id }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Primera aparición</mat-label>
                        <input
                            matInput
                            type="text"
                            required
                            formControlName="first_appearance"
                        />
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input
                            matInput
                            type="text"
                            required
                            formControlName="characters"
                        />
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Imagen alternativa</mat-label>
                        <input
                            matInput
                            type="text"
                            required
                            formControlName="alt_img"
                        />
                    </mat-form-field>
                </form>

                <div class="flex">
                    <button 
                        *ngIf="currentHero.id"
                        mat-button
                        mat-raised-button
                        color="accent"
                        (click)="onDelete()">
                        <mat-icon>delete</mat-icon>Borrar
                    </button>
    
                    <span class="spacer"></span>
    
                    <button mat-button mat-raised-button color="primary" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>Guardar
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 md:col-6">
        <mat-card>
            <img [src]="currentHero | heroImage" alt="" mat-card-image>
        </mat-card>
    </div>
</div>